.columns.is-gapless
  .column.total-vh
    .width-60.center
      .columns
        .column.is-full
          .logo
            = image_tag('logoipsum.svg')
      .columns
        .column.is-full
          .login-form
            .sign-in-up
              %h1 Log in
              %h2
                = render 'devise/shared/signup'
            = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
              .columns
                .column.is-full
                  .field
                    = f.label :email
                    .control
                      = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'input is-primary'
              .columns
                .column.is-full
                  .field
                    = f.label :password, 'Contraseña'
                    %br/
                    .control
                      = f.password_field :password, autofocus: true,autocomplete: "current-password", class: 'input is-primary'
              .columns
                .column.is-full
                  - if devise_mapping.rememberable?
                    .field
                      = f.check_box :remember_me
                      = f.label :remember_me, 'Recuerdame'
              .columns
                .column.is-full
                  .actions.text-right
                    = f.submit 'Log in', class: 'button is-primary is-medium'
            .margin-t-3.text-right
              = render 'devise/shared/links'
  .column.total-vh.bg-blue.text-center
    .login-text.padding-2
      .colaboration.margin-t-3
        = image_tag('colaboration.svg')
      %br
      .title.text-white.text-center.font-2-5
        Aprende
        %br
        Crece
        %br
        Superate
        %br
      %br
      .subtitle.text-white.text-center.font-2
        ¡En vivo y en directo!