!!!
%html
  %head
    %title Makeupclass
    = csrf_meta_tags
    = csp_meta_tag
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://unpkg.com/bulmaswatch/minty/bulmaswatch.min.css", :rel => "stylesheet"}/
  %body{"data-spy" => "scroll", "data-target" => ".mainmenu-area"}
    = yield
